<%= provide(:title, 'Log in') %>
<div class="login-signup-background">
<div class="login-signup">
<h1 class="PageTitle">登录</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
        <%= f.email_field :email, class:'form-control form-field', placeholder: "邮箱" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <%= f.password_field :password, class:'form-control form-field', placeholder: "密码" %>
      </div>
        
      <%= f.label :remember_me, class:"checkbox inline" do %>
        <%= f.check_box :remember_me, class:"box" %>
        <span>记住我</span>
      <%= link_to "忘记密码", new_password_reset_path, id: "forget-password" %>
      <% end %>
        
      <%= f.submit "登录", class: "OKBtn btn btn-primary FBBtn" %>
    <% end %>
    <p style="color: #74716c">新用户？ <%= link_to "现在去注册！", signup_path, style: "color:rgb(77,31,10)" %></p>
  </div>
</div>
</div>
</div>

<%= flash %>
