<%= provide(:title, 'About') %>
<div class="users_show">
<h1 class="PageTitle">关于我们</h1>
<h4 style="text-align: center; color: rgb(0,0,0,0.8);">
  <br/>
  Saliva是一个美食网站<br/><br/>但她不是一个仅仅提供菜谱的地方<br/><br/>我们专注于提供世界各地美食的观感<br/><br/>让人足不出户就了解各地的美食文化<br/><br/>并能够尝试自己去做<br/><br/>（当然，我们并不指望你能做的很好）<br/><br/>Saliva是给喜欢吃和旅行的人制作的<br/><br/>或者，我们有幸能让你爱上吃和旅行<br/><br/>为你的苟且人生增添一份矫情<br/>
  <br/>
  <br/>
  <br/>
  <br/>
</h4>
</div>
