<div class="banner">
  <div class="container-fluid">
	  <div class="row">
	    <div class="col-md-12 col-xs-12 col-sm-12 banner_col" align="center">
        <%= image_tag "banner1.png", class: "img-banner" %>
	  	</div>
	  </div>
  </div>
  <div class="instruction">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-8 hidden-xs title1">
              <div class="descrip">安永年间初现于市集</div>
              <div class="descrip">江户末年趋于鼎盛</div>
              <div class="descrip">海产或蔬菜裹之以粉浆</div>
              <div class="descrip">下锅烹炸</div>
              <div class="descrip">酥脆可口 味道鲜美</div>
              <div class="descrip">颜色明丽 丰捡由人</div>
              <div class="descrip">是日本四大料理之一</div>
            </div>
            <div class="col-md-4 title1">
              <div id="title">天妇罗の神</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="purchase">
            <%= link_to "查看详情", dish_path(id: 1), type: "button", class: "buybtn" %>
            <%= link_to "其他菜品", dishes_path, type: "button", class: "cartbtn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="course" id="today_recommend">
  <div class="container">
    <div class="row" style="margin-left: 3%;">
          <div class="col-md-4">
          <%= image_tag "reco.png" %>
          <span class="reco">今日推荐</span>
          </div>
    </div>
		<div class="row">
					  <div class="container">
						  <div class="row">
                <div class="col-md-4">
                  <%= link_to dish_path(1) do %>
							    <div class="thumbnail center-block">
                    <%= image_tag("dish_1_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
								      <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
                </div>

						    <div class="col-md-4">
                  <%= link_to dish_path(3) do %>
							    <div class="thumbnail center-block">
							      <%= image_tag("dish_3_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
								      <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
                </div>

						    <div class="col-md-4">
                  <%= link_to dish_path(5) do %>
							    <div class="thumbnail center-block">
							      <%= image_tag("dish_5_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
								      <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
                </div>

						  </div>
					  </div>

					  <div class="container">
						  <div class="row">
						    <div class="col-md-4">
                  <%= link_to dish_path(1) do %>
						    	<div class="thumbnail center-block">
							      <%= image_tag("dish_1_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
							        <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
                </div>

						    <div class="col-md-4">
                  <%= link_to dish_path(3) do %>
							    <div class="thumbnail center-block">
							      <%= image_tag("dish_3_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
								      <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
						    </div>
						    
                <div class="col-md-4">
                  <%= link_to dish_path(5) do %>
							    <div class="thumbnail center-block">
							      <%= image_tag("dish_5_reco.jpg") %>
							      <div class="caption">
								      <h3>Thumbnail label</h3>
								      <p>Whatever you are like, whether you are rich or poor, brilliant or average, attractive or plane, there are people like you.</p>
							      </div>
                  </div>
                  <% end %>
						    </div>
						  </div>
					  </div>
			  </div>
    <% if false %>
		<div class="row more">
		  <div class="col-md-12">
		    <p class="text-center">
          <%= link_to "查看更多", dishes_path, type: "button", class: "btn btn-lg" %>
        </p>	
		  </div>
    </div>
    <% end %>
	</div>
