
<div id="lightbox">
  <% if @dishes.any? %>
  <ul>
    <% @dishes.each do |dish| %>
      <li>
        <%= link_to dish, target: "_blank" do %>
          <div id="dish-album">
          </div>
          <div class="image_title">
              <%= image_tag dish.bannerimg_url(:thumb), class: "img" %>
          </div>
        <% end %>
        <span id="dish-name"><%= dish.name %></span>
        <%= dish.followers.count %>
      </li>     
    <% end %>
  </ul>
  <% else %>
    <h3>没有数据...</h3>
  <% end %>
</div>
