<%= provide(:title, 'Edit user') %>
<div class="dish-body-index">
<h1 class="PageTitle">编辑信息</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
        <%= f.text_field :name, class:"form-control form-field", placeholder: "用户名" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
        <%= f.email_field :email, class:"form-control form-field", placeholder: "邮箱" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <%= f.password_field :password, class:"form-control form-field", placeholder: "密码" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <%= f.password_field :password_confirmation, class:"form-control form-field", placeholder: "确认密码" %>
      </div>
      <%= f.submit "更新用户", class: "OKBtn btn btn-primary FBBtn" %>
    <% end %>

  ` <% if false %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  ``<% end %>
  </div>
</div>
</div>
