<%= provide(:title, 'Sign up') %>
<div class="login-signup-background">
<div class="login-signup">
<h1 class="PageTitle">注册</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
        <%= f.text_field :name, class:"form-control form-field", placeholder: "用户名" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
        <%= f.email_field :email, class:"form-control form-field", placeholder: "邮箱" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <%= f.password_field :password, class:"form-control form-field", placeholder: "密码" %>
      </div>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <%= f.password_field :password_confirmation, class:"form-control form-field", placeholder: "确认密码" %>
      </div>
      <%= f.submit "创建用户", class: "OKBtn btn btn-primary FBBtn" %>
      <%= link_to "已经注册", login_path, style: "color: rgb(77,31,10)" %>
    <% end %>
  </div>
</div>
</div>
</div>
