<%= provide(:title,@user.name) %>
<div class="users_show">
<div class="MyProfile">
  <h1 class="PageTitle">我的资料</h1>
  <div class="row">
    <aside>
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <h1 class="PageTitle">我的创建</h1>
  <%= render "show_creation" %>
  <h1 class="PageTitle">我的打赏</h1>
  <ul class="users">
  <% if @user.orders.any? %>
    <% @user.orders.each do |order| %>
      <li>
        <%= render order.line_items %>
        <%= link_to 'Show', order %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
</div>
