<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="field">
          <%= f.label :姓名 %><br>
          <%= f.text_field :name, size: 40, class: 'form-control form-field' %>
        </div>
        <div class="field">
          <%= f.label :地址 %><br>
          <%= f.select :address, Order::PAYMENT_TYPES, {prompt: '选择城市'}, {class: 'form-control form-field'} %>
          <%= f.select :address2, Order::PAYMENT_TYPES2, {prompt: '选择区域'}, {class: 'form-control form-field'} %>
          <%= f.text_area :address3, class: 'form-control form-field', placeholder: '详细地址...' %>
        </div>
        <div class="field">
          <%= f.label :手机号码 %><br>
          <%= f.text_field :phone, size: 20, class: 'form-control form-field' %>
        </div>
        <div class="actions">
          <%= f.submit '付款', class: "OKBtn btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
<% end %>
