<div class="container-fluid order_new">
  <div class="row">
    <div class="col-md-6 saliva_form">
      <fieldset>
        <legend>请输入你的信息</legend>
        <%= render 'form' %>
      </fieldset>
    </div>

    <div class="col-md-6 saliva_order">
      <div class="container-fluid order_table">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "reco.png" %>
            <span class="reco">订单详情</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table>
              <%= render @cart.line_items %>
              <tr class="total_line">
                <td colspan="2" style="color: rgb(77,31,10); font-weight: bold;">总价</td>
                <td class="total_cell"><%= number_to_currency @cart.total_price %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
