<!--
<script src="../../assets/javascripts/require.js"></script>
<script src="../../assets/javascripts/pingpp.js"></script>
-->
<script>
var charge = null; 
$.getJSON('<%= charge_order_path(@order) %>', function(data){
    charge = data;
    pingpp.createPayment(charge, function(result, err){
      
    });
    
});
    console.log("hohoho");
console.log("<%= @order.order_no %>");
</script>
