<div class="order-show">
<p id="notice"><%= notice %></p>

<% if false %>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
  <%= link_to 'Pay', pay_order_path(@order) %>
<% end %>

    <div class="order_info">
      <div class="container-fluid order_table order_table2">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag "reco.png" %>
            <span class="reco">感谢您对作者的尊重^_^</span>
          </div>
        </div>
        <div>
            <table>
              <%= render @order %>
              <tr class="total_line">
                <td colspan="2" style="color: rgb(77,31,10); font-weight: bold;">打赏:</td>
                <td class="order_cell">￥<%= @order.total_price %></td>
              </tr>
            </table>
            <% if false %>
            <table>
              <tr class="order_line">
                <td colspan="2" style="color: #f9b597; font-weight: bold;">姓名</td>
                <td class="order_cell"><%= @order.name %></td>
              </tr>
              <tr class="order_line">
                <td colspan="2" style="color: #f9b597; font-weight: bold;">地址</td>
                <td class="order_cell"><%= @order.address %><%= @order.address2 %><%= @order.address3 %></td>
              </tr>
              <tr class="order_line">
                <td colspan="2" style="color: #f9b597; font-weight: bold;">电话</td>
                <td class="order_cell"><%= @order.phone %></td>
              </tr>
            </table>
            <% end %>
        </div>
      </div>
    </div>
</div>
