<div class="glyphicon glyphicon-shopping-cart"></div>
<table>
  <tr class="total_title">
    <td>菜品</td>
    <td>数量</td>
    <td>价格</td>
  </tr>
  <%= render cart.line_items %>
  <tr class="total_line">
    <td colspan="2">总价</td>
    <td class="total_cell"><%= number_to_currency @cart.total_price %></td>
  </tr>
</table>
<div class="cart_btn">
<%= button_to '提交订单', new_order_path, method: :get, class: "orderbtn OKBtn btn btn-primary"%>
<%= button_to '清空购物车', @cart, method: :delete, class: "OKBtn btn btn-primary", remote: true %>
</div>
