
<li>
  <%= link_to dish, target: "_blank" do %>
    <div id="dish-album">
    </div>
    <div class="image_title">
        <%= image_tag dish.bannerimg_url(:thumb), class: "img" %>
    </div>
  <% end %>
  <span id="dish-name"><%= dish.name %></span>
  <% if logged_in? && current_user.admin?%> 
      | <%= link_to "delete", dish, method: :delete, data: {confirm: "You sure?"} %>
  <% end %>
  | <span class="glyphicon glyphicon-heart"><%= dish.followers.count %></span>
</li>     
