<%= form_for(@dish.passive_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @dish.id %></div>
  <span class="follow">
    <%= f.submit "喜欢", class: "OKBtn btn btn-primary" %>
  </span>
<% end %>
