<%= form_for @dish, html: {multipart: true} do |f| %>
  <div class="steps">
  <div class="input-group">
    <div class="input-group-addon"><span>菜名</span></div>
    <%= f.text_field :name, class:"form-control form-field", placeholder: "不超过10个字" %>
  </div>

  <span class="bannerimg">
    <%= f.file_field :bannerimg, accept: 'image/jpeg,image/gif,image/png' %>
    <p style="color:#f9b597">请上传成品图片，图片小于1MB，系统自动按3:1比例截取</p>
  </span>
  <div class="input-group">
    <div class="input-group-addon"><span>食材</span></div>
    <%= f.text_field :description, class:"form-control form-field", placeholder: "中间用空格断开" %>
  </div>
  </div>
  <div id="steps">
    <%= f.fields_for :steps do |builder| %>
      <%= render 'step_fields', f: builder %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '增加步骤', f, :steps %>
    </div>
  </div>


  <%= f.submit "提交", class: "OKBtn btn btn-primary", name: 'create_dish' %>
  <p style="color:red">“上传时间较长，可能会突然出现网页错误，是因为超出了服务器最大加载时间，此时仍在上传，过一会手动刷新页面即可”</p>
<% end %>
