
<!--底边栏购物车-->
<div id="side">
  <div id="cart">
    <!--当购物车为空时自动隐藏内容，hidden_div_if函数载application_helper中-->
    <%= hidden_div_if(@cart.line_items.empty?, id: "cart") do %>
      <%= render @cart %>
    <% end %>
  </div>
</div>
