<div class="nested-fields steps">
  <span class="input-group">
    <div class="input-group-addon"><span>步骤</span></div>
    <%= f.text_field :content, class: "form-control form-field", placeholder: "不超过50个字" %>
  </span>
  <span class="stepimg">
    <%= f.file_field :stepimg, accept: 'image/jpeg,image/gif,image/png', class: "file" %>
    <p style="color:#f9b597">请上传该步骤图片，图片小于1MB，系统自动按1.2:1比例截取</p>
  </span>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_association "删除", f %>
</div>
