<%= form_for(@dish.passive_relationships.find_by(follower_id: @current_user.id), html: {method: :delete}, remote: true) do |f| %>
  <span class="unfollow">
    <%= f.submit "取消喜欢", class: "OKBtn btn" %>
  </span>
<% end %>
