<% content_for(:head) do %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 920, 620],
      aspectRatio: 23/18  //这里指长宽比
    });
  });

  function update_crop(coords) {
    $('#preview').css({
      width: Math.round(230/coords.w * $('#cropbox').width()) + 'px',
      height: Math.round(155/coords.h * $('#cropbox').height()) + 'px',
      marginLeft: '-' + Math.round(230/coords.w * coords.x) + 'px',
      marginTop: '-' + Math.round(155/coords.h * coords.y) + 'px'
    });
    $("#crop_x").val(coords.x);
    $("#crop_y").val(coords.y);
    $("#crop_w").val(coords.w);
    $("#crop_h").val(coords.h);
  }
  </script>
<% end %>
<h1>Crop Bannerimg</h1>
 <%= image_tag @dish.bannerimg_url(:large), id: "cropbox" %>
 <h4>Preview</h4>
 <div style="width:230px; height:155px; overflow:hidden">
     <%= image_tag @dish.bannerimg.url(:large), :id => "preview" %>
 </div>
 <%= form_for @dish do |f| %>
   <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
     <%= f.text_field attribute, :id => attribute %>
   <% end %>
   <div class="actions">
     <%= f.submit "裁剪图片" %>
   </div>
 <% end %>
