<% content_for(:head) do %>
<% end %>
<%= provide(:title, 'new dish') %>
<div class="login-signup-background">
<div class="login-signup">
<h1 class="PageTitle">编辑菜品</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'form' %>
    <script type="text/javascript">
      $('#dish_bannerimg').bind('change', function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5){
          alert('图片大小不能超过5MB');
        }
      });
      $('#dish_stepimg').bind('change', function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5){
          alert('图片大小不能超过5MB');
        }
      });

    </script>
  </div>
</div>
</div>
</div>
