<% provide(:title, '菜单') %>
<div class="dish-body">
<div id="lightbox">
  <% if @dishes.any? %>
  <ul class="page">
      <%= render @dishes %>
  </ul>
  <% else %>
    <h3>没有找到搜索结果...</h3>
  <% end %>
</div>
</div>
<%= paginate @dishes %>
