<% content_for(:head) do %>
<% end %>
<%= provide(:title, 'new dish') %>
<div class="dish-body-index">
<h1 class="PageTitle">创建菜品</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p style="color:red">说明：<br \> 1. 自己上传后可以随时删除或者修改（在“账户->资料”），所以不用担心上传的不好，另外如果你上传的设计黄色暴力等内容，管理员我也有权删除;-)<br \> 2. 上传的图片每张不要超过500K，因为图片多会很慢，另外如果上传中出现错误界面，没关系，后台还是在上传中，刷新几次页面即可<br \> 3. 上传的图片会被自动裁剪成合适尺寸，为了保证你的图片不被裁剪掉关键部分，图片最好是与下面所说的比例保持一致或近似<br \> 4. 步骤是可以增加和删除的，高端吧;-)</p>
    <%= render 'form' %>
    <script type="text/javascript">
      $('#dish_bannerimg').bind('change', function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1){
          alert('图片大小不能超过1MB');
        }
      });
      $('.dish_stepimg').bind('change', function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1){
          alert('图片大小不能超过1MB');
        }
      });

    </script>
  </div>
</div>
</div>
