<div class="dish-body-index">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-md-offset-1">
	    <div class="banner_dish" align="center">
	      <div class="container">
	        <div class="row">
	  	      <div class="col-md-4 col-md-push-1 hidden-sm hidden-xs">
                <div class="thumbnail center-block">]
                  <%= image_tag @dish.bannerimg_url(:thumbbanner) %>
    	        </div>
		      </div>
            <div class="col-md-8 col-md-push-1 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-7">
                  <h1 class="text-left"><%= @dish.name %></h1>
                </div>
                <% if true %>
                  <div class="col-md-5 dish-price">
                    <h2>￥<%= @dish.price %></h2>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <p id="dish-description"><%= @dish.description %></p>
                </div>
                <div class="col-md-5">
                  <div id="dish-btn">
                    <%= render 'follow_form' if logged_in? %>
                    <!--购物车功能暂不开放，下面按键是唯一接口-->
                  <%#= button_to '打赏', line_items_path(dish_id: @dish), class: "OKBtn btn btn-primary" %>
                  </div>
                </div>
              </div>
		        </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="section">
        <% @dish.steps.each_with_index do |step, index| %>
          <div class="thumbnail center-block">  <!--240*200px-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5">
                    <%= image_tag step.stepimg.url(:thumbstep) %>
                </div>
                <div class="col-md-7">
                  <div class="caption">
                    <h3>第<%= index + 1 %>步</h3>
                    <p><%= step.content %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= button_to '赏', line_items_path(dish_id: @dish), class: "AwardBtn" %>
</div>
<!--显示购物车-->
<%#= render 'side' %>
