@import "bootstrap-sprockets";
@import "bootstrap";

@font-face
{
}
@font-face
{
	font-family: "GeosansLight";
	src: url('font/GeosansLight.ttf');
}
@font-face {
	font-family: "fzltxh";
	src: url('font/fzltxh.ttf'), 
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1600px) {
  .instruction .row {
    .title1 {
      #title {
        font-size: 50px;
        letter-spacing: 20px;
        line-height: 1.3em;
        margin-left: 15px;
        width: 60px;
      }
      .descrip {
        font-size: 24px;
        letter-spacing: 8px;
        line-height: 1.5em;
        margin-right: 15px;
        margin-top: 5px;
        width: 24px;
      }
    } 

    .purchase {
      .buybtn {
        padding: 5px 30px;
        margin-right: -2px;
        font-size: 28px;
      }
      .cartbtn{
        padding: 5px 30px;
        margin-left: -2px;
        font-size: 28px;
      }
    }
  }
  .dish-body {
    min-height: 600px;
  }
  .order_new {
    min-height: 600px;
  }
  .order-show {
    min-height: 600px;
  }
  .users_show {
    min-height: 550px;
  } 
  .dish-body-index {
    min-height: 600px;
  }
}
@media screen and (min-width: 1601px) {
  .instruction .row{
    .title1 {
      #title {
        font-size: 60px;
        letter-spacing: 20px;
        line-height: 1.3em;
        margin-left: 20px;
        width: 80px;
      }
      .descrip {
        font-size: 30px;
        letter-spacing: 12px;
        line-height: 1.5em;
        margin-right: 20px;
        margin-top: 5px;
        width: 30px;
      }
    }
    .purchase {
      margin-left: 80px;
      .buybtn {
        padding: 6px 32px;
        margin-right: -2px;
        font-size: 30px;
      }
      .cartbtn{
        padding: 6px 32px;
        margin-left: -2px;
        font-size: 30px; 
      }
    }
  } 
  .dish-body {
    min-height: 800px;
  }
  .order_new {
    min-height: 800px;
  }
  .order-show {
    min-height: 800px;
  }
  .users_show {
    min-height: 800px;
  } 
  .dish-body-index {
    min-height: 800px;
  }
}

*{
  margin: 0; 
  padding: 0;
}
body {
  background-color: #f0f0f0;
  border: gray 3px none;
  height: 100%; width: 100%;
  overflow-x: auto;
  position: absolute;
  font: 100%;
}
.navbar{
	border: red 3px none;
	margin: 0; padding: 0;
}
.navbar ul li{
	font-family:"微软雅黑";
}
.container-fluid{
	border: green 3px none;
	margin: 0; padding: 0;
}
.navbar-form .input-group{
  position: relative;
    border: rgb(77,31,10) 3px solid;
    border-radius: 20px;
  .form-control {
    background-color: transparent;
    border: #f9b597 3px none;
  }
  ::placeholder {
    color: rgb(77,31,10);
  }
  ::-o-input-placeholder {
    color: rgb(77,31,10);
  }
  ::-ms-input-placeholder {
    color: rgb(77,31,10);
  }
  ::-moz-placeholder {
    color: rgb(77,31,10);
  }
  :-moz-placeholder {
    color: rgb(77,31,10);
  }
  ::-webkit-input-placeholder {
    color: rgb(77,31,10);
  }
}
.row .input-group {
  position: relative;
  margin: 20px auto;
    border: rgb(77,31,10) 3px solid;
    border-radius: 20px;
  .form-control {
    background-color: transparent;
    border: #f9b597 3px none;
  }
  .input-group-addon {
    color: #FEFEF7;
    background-color: rgb(77,31,10);
    border-radius: 17px;
  }
  ::placeholder {
    color: rgb(77,31,10);
  }
  ::-o-input-placeholder {
    color: rgb(77,31,10);
  }
  ::-ms-input-placeholder {
    color: rgb(77,31,10);
  }
  ::-moz-placeholder {
    color: rgb(77,31,10);
  }
  :-moz-placeholder {
    color: rgb(77,31,10);
  }
  ::-webkit-input-placeholder {
    color: rgb(77,31,10);
  }
}
.input-group-btn{
  position: relative;
  bottom: 1px;   //搜索键莫名的向下了1PX，需要调整
  left: 1px; //修复其他浏览器与firefox浏览器之间的偏差
  .btn {
    color: #fefef7;
    background-color: rgb(77,31,10);
    border-radius: 10px;
  }
}
.banner{
	border: red 3px none;
	padding: 0;
	width: 100%; height: 100%;
  position: relative;
  top: -50px;
  .img-banner {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 1300px;
    min-height: 700px;
  }
}
.course{
	border: red 3px none;
  position: absolute;
  padding-top: 20px;
	width: 100%; height: 500px;
  background-color: #fefef7;
}
.reco{
	color: rgb(77,31,10);
	font-size: 18px; 
}
.carousel-inner {
  height: auto;
  .left {
  }
  .right{
  }
}
.course .thumbnail{
	width: 260px;
  background-color: #fff;
  margin: 10px auto;
}
.course .thumbnail:hover {
  box-shadow: -2px 0 1px #f9b597, 2px 0 1px #f9b597, 0 -2px 1px #f9b597, 0 2px 1px #f9b597;
}
.container{
	/*width: 1000px;*/
}
.course .btn{
	border: rgb(5,83,23) 2px solid;
	color: rgb(5,83,23);
	background-color:transparent;
}
.more .btn {
  border: #f9b597 3px solid;
  color: #f9b597;
  background-color: transparent;
}

.more .btn:hover {
  border: #f9b597 3px solid;
  color: #fefef7;
  background-color: #f9b597;
}
.more{
	margin-top: 1%;
	margin-bottom: 2%;
}
.footer{
  position: absolute;
  display: block;
	border: red 3px none;
	width: 100%; height: 100px;
	background-color: rgb(77,31,10);
  margin-top: 0;
}
.footer p{
	font-family: Arial; color: #fff;
	margin: 2% auto;
	text-align: center;
}


/*side bar*/
aside {
  section.user_info {
    border: yellow 3px none;
    margin: 20px 0 0 0;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
  }
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
		color: rgb(77,31,10);
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*forms*/
.login-signup-background {
  position: absolute;
  height: 100%; width: 100%;
  background-color: #f0f0f0;
}
.login-signup {
  position: absolute;
  top: 15%;
  padding-top: 10px;
  padding-bottom: 30px;
  border: rgb(1,58,15) 3px none;
  width: 100%;
  height: auto;
  background-color: #F9B597;
}
.PageTitle {
	text-align: center;
	color: #FEFEE7; width:240px;
  background-color: rgb(77,31,10);
	font-family: "微软雅黑"; font-size: 40px; 
	margin: 1.4% auto; padding: 8px;
	border-radius: 40px;
}
.form-control {
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

label {
	color: #fff;
}


#error_explanation {
  color: red; ul { 
    color: red;
    margin: 0 0 30px 0;
  }
}

.cart_btn {
  margin: 0;
  height: 50px;
  background-color: rgb(77,31,10);
  .OKBtn{
	  border: #fff 1px solid;
    margin-right: 5px;
    margin-top: 7px;
	  color: #fff;
	  background-color: transparent;
    width: 100px;
    height: 30px;
    transition: 0.3s ease;
    border-radius: 20px;
  }
  .OKBtn:hover{
  	border: #fff 1px solid ;
  	color: #f9b597;
  	background-color: #fff;
  }
  .orderbtn{
	  border: #fff 1px solid;
    margin-right: 5px;
    margin-top: 7px;
	  color: rgb(77,31,10);
	  background-color: #f9b597;
    width: 100px;
    height: 30px;
    transition: 0.3s ease;
    border-radius: 20px;
    
  }
}

.OKBtn{
	border: #fff 1px solid;
	color: #fff;
	background-color: rgb(77,31,10);
  width: 30%;
  height: 50px;
  float: right;
  transition: 0.3s ease;
  border-radius: 20px;
}
.OKBtn:hover{
	border: #fff 1px solid ;
	color: #f9b597;
	background-color: #fff;
}
/* Bootstrap has no .has_error class
.field_with_errors {
  @extend .has_error;
  .form-control {
    color: $state-danger-text;
  }
}
*/
.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  .box {
    margin-top: 0px;
  }
  span {
    margin-left: 20px;
    font-weight: normal;
    color: #74716c;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
#forget-password {
  float: right;
}

/* Users index */

.users {
  list-style: none;
  li {
    width: 50%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    color: #000;
  }
}
.users_show {
  padding-top: 70px;
  background-color: #f7f7f7;
  aside {
    display: table;
    margin: 0 auto;
  }
}
/*DISH*/
.img-thumbnail {
  text-decoration: none;
}

/*banner*/
.dish-body-index{
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 80px;
  display: block;
  position:relative;
  top: 30px;
  width: 100%;
  .OKBtn { 
    width: 100px;
  	border: #fff 2px solid;
  }
}
.banner_dish{
  box-shadow: 0 0 0.5px rgba(116,113,108,0.5);
	padding: 20px; 
	background-color: rgb(77,31,10);
	width: 80%;
  border: yellow 3px none;
}
.banner_dish .container{
  display: table;
	margin: 0 auto; padding: 0;
	width: 90%;
}
.banner_dish .container .thumbnail{
	border: green 3px none;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background-color: transparent;
}
.banner_dish .container img{
	border: white 4px none;
  border-radius: 7px;
}
.banner_dish .container {
  .row{
    border: red 3px none;
    padding-bottom: 0;
    //此处不能有display: flex; 否则导致opera浏览器显示异常
    .col-md-6{border: white 3px none;}
    .col-md-3{border: yellow 3px none;}
    #dish-btn {
      width: 190px;
    }
  }
  h1{
	  border: green 3px none;
	  font-family: "微软雅黑";
	  font-size: 64px;
	  font-weight: bold;
	  color: #fff;
  }
  h2 {
    color: #fff; 
    margin-bottom: 0;
    margin-top: 40px;
  }
}
/*section*/
/*section*/
.section{
  border: green 3px none;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 100px;
}
.section .thumbnail{
	width: 60%;
	background-color: #FeFeF7;
}
.section .thumbnail img{
  border: yellow 3px none;
  margin-left: 0;
}
.section .caption{
	border: green 3px none;
	margin-top: 30px;
  border-left: #f9b597 3px solid;
}
.section .container-fluid{
	border: green 3px none;
	width: 100%; height: 100%;
}
.section h3{color: #f9b597;}
.section p{color: rgba(77,31,10,1);}
#dish-description {
  border: red 3px none;
  color: #fefef7;
  text-align: left;
}
#dish-price {
  border: red 3px none;
  color: rgb(77,31,10);
}
/*Lightbox*/
.dish-body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: block;
}

#lightbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-top: 70px;
	width: 1080px; 
}
#lightbox #dish-album {
  width: 230px; height: 155px;
}
#lightbox ul {
	overflow: hidden;
}
/*Image styles*/
#lightbox ul li {
	float: left;
	padding: 10px;
	background: #fff;
	margin: 10px 10px 20px 10px;
	list-style-type: none;
  position: relative;
}
/*No right margin for images in the 2nd column*/
#lightbox ul li .img {
	display: block;
}
#dish-name {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}
#dish-price {
  display: inline;
  margin-top: 10px;
  float: right;
}
/*Image titles*/
#lightbox .image_title {
	width: 230px; height: 155px;
	background: transparent;
	position: absolute;
	top: 10px; left: 10px;
	display: block;
	/*Hover effect - default state*/
  overflow: hidden;
}
#lightbox .img{
  transform: scale(1);
  transition: all 0.25s;
}
/*Zoom icon over each title using iconfont and pseudo elements*/

/*Hover states*/
#lightbox li .image_title:hover {
  box-shadow: 2px 0 0 #f9b597, -2px 0 0 #f9b697, 0 2px 0 #f9b597, 0 -2px 0 #f9b597;
  .img {
    transform: scale(1.2);
  }
}
/*dish*/
.follow {
  border: yellow 3px none;
  position: absolute;
  margin: 0;
  .OKBtn {
    width: 90px; border-radius: 20px;
  	border: #fff 2px solid;
  	color: #fff;
  	background-color: transparent;
    z-index: 10;
  }
  .OKBtn:hover {
    border: #fff 2px solid;
    color: #f9b597;
    background-color: #fff;
  }
}

.unfollow {
  border: yellow 3px none;
  position: absolute;
  margin: 0;
  .OKBtn {
    width: 90px;
    border-radius: 20px;
  	border: #fff 2px solid;
  	color: #fff;
    background-color: #f5b597;
    z-index: 10;
  }
  .OKBtn:hover {
    border: #fff 2px solid;
    color: #f9b597;
    background-color: #fff;
  }
}

/*users/show.html.erb*/

/*Lets change the iconfont to websymbols since entypo has some issues with rendering on windows*/
/*@font-face {
	font-family: websymbols;
	src: url("http://thecodeplayer.com/uploads/fonts/websymbols.eot");
	src: url('http://thecodeplayer.com/uploads/fonts/websymbols.eot?#iefix') format('embedded-opentype'),
     url('http://thecodeplayer.com/uploads/fonts/websymbols.woff') format('woff'),
     url('http://thecodeplayer.com/uploads/fonts/websymbols.ttf') format('truetype'),
	 url('http://thecodeplayer.com/uploads/fonts/websymbols.svg#WebSymbolsRegular') format('svg');
}*/

.instruction {
  border: #fff 3px none;
  width: 100%;
  position: absolute;
  top: 30%;
}
.instruction .row {
  .purchase {
    border: #fff 3px none;
    margin-top: 50px;
    z-index: 2000;
    .buybtn {
      border: #F9B597 3px solid;
      font-family: \6977\4F53;
      color: #fff;
      background-color: #F9B597;
      text-decoration: none;
      transition: 0.3s ease;
      position: relative;
      left: 5px;
    }
    .buybtn:hover {
      border: #fefef7 3px solid;
      color: #F9B597;
      background-color: #FEFEF7;
    }
    .cartbtn {
      border: #F9B597 3px solid;
      font-family: \6977\4F53;
      color: #FEFEF7;
      background-color: transparent;
      text-decoration: none;
      transition: 0.3s ease;
    }
    .cartbtn:hover {
      border: #fefef7 3px solid;
      color: #f9b597;
      background-color: #FEFEF7;
    }
  }
  .title1{
    border: #fff 3px none;
    #title {
      font-family: \6977\4F53;
      font-weight: 700;
      color: #fff;
      border: #fff 3px none;
    }
    .descrip {
      float: right;
      font-family: \6977\4F53;
      color: #fff;
      border: #fff 3px none;
      position: relative;
      left: 8%;
    }
  }
}
/*Navigation bar*/
.mynav {
  border: #fff 3px none;
  background-color: #f9b597;
}
.navbar .nav > li > a {
  color: rgb(77,31,10);
}
/* application.html.erb */
#side {
  position: fixed;
  display: inline-block;
  margin-bottom: 0;
  bottom: 0; right: 3%;;
  width: 300px;
  box-shadow: 0 0 20px #000;
  background: #fefef7;
  z-index: 10;
}

#cart, #cart table {
  color: rgb(77,31,10);
  tr td {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: #74716c 1px dotted;
  }
}
#cart .glyphicon-shopping-cart {
  font-size: 30px;
  background-color: #f9b597;
  padding:10px;
  border-radius: 25px;
  position: relative;
  margin-top:-30px;
  margin-left: -5px;

}
#cart table {
  border: yellow 2px none;
  margin-left: 30px;
  margin-top: 10px;
  .total_title td{
    font-size: 14px;
    color: #74716c;
  }
}
.AwardBtn {
  display: block;
  width: 100px;
  height: 100px;
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 30px;
  background-color: #f9b597;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.8;
}
.AwardBtn:hover {
  opacity: 1;
}
/*orders*/
.saliva_form {
  min-height: 600px;
  legend {
    color: #dfd;
    background: #141;
    padding: 0.2em 1em;
  }
  label{
    display: block;
    color: #000;
    padding-top: 0.2em;
    margin-right: 0.1em;
    text-align: right;
    width: 5em
  }
  .submit {
    margin-left: 4em;
  }
  div {
    margin: 0.5em 0;
  }
}
.saliva_order {
  border-left: rgba(0,0,0,0.3) 1px dashed;
}
.field {
  .form-field {
    border: rgb(77,31,10) 3px solid;
    border-radius: 20px;
  }
  select {
    border: rgb(77,31,10) 3px solid;
    border-radius: 20px;
    width: 30%;
    height: 40px;
  }
}

.order_info {
  display: table;
  width: 70%;
  margin: 0 auto;
}
.order_table {
   margin-top: 20%;
   margin-bottom: 10%;
   margin-left: 10%;
   table {
     border: rgba(0,0,0,0.3) 0.5px solid;
     background-color: #fefef7;
     width: 60%;
     display: block;
     padding-left: 10%;
     padding-right: 10%;
     margin-top:10px;
     padding-bottom:10px;
     margin-bottom: 5%;
   }
   tr {
     margin-left: 10%; 
   }
  tr td {
    font-size: 18px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #74716c 1px dotted;
  }
}

.order_table2 {
  display: table;
  width: 70%;
  margin: 0 auto;
  table {
    width: 100%;
  }
}
.order_new {
  background-color: #f0f0f0;
}
.total_line {
}
.order_line {
  td {
    min-width: 50px;
  }
}
.total_cell {
  color: red;
  font-weight: bold;
}
.order_cell {
  color: rgb(77,31,10);
  font-weight: bold;
}
.order-show {
  padding-top: 9%;
  width: 100%;
  background-color: #f0f0f0;
}



.steps {
  border: rgba(0,0,0,0.1) 0.5px solid;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0 20px;
}
