<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.dish.name %></td>
  <td>&times;<%= line_item.quantity %></td>
  <td class="item_price">￥<%= line_item.total_price %></td>
</tr>
